# Udacity Data Scienctist Nano Degree Project 1

## Project Overview
For [Udacity Data Scientist Nano Degree](https://www.udacity.com/course/data-scientist-nanodegree--nd025) project 1 you pick a dataset and using your dataset you choose 3 questions you aspire to answer from the data.

## Dataset
Dataset from the 'Power Laws: Detecting Anomalies in Usage' competition on [drivendata.org](https://www.drivendata.org/competitions/52/anomaly-detection-electricity/page/102/).   

Commercial buildings waste an estimated 15% to 30% of energy used due to poorly maintained, degraded, and improperly controlled equipment.  The goal is to detect abnormal energy consumption, find potential energy saving opportunities and provide actionable recommendations.  

The dataset includes energy consumption data, information about the buildings, historical weather data and public holiday information.

## Questions
Needs more refinement.  Just a rough list at this point.  
- How much much energy is being wasted?
- What's the environmental impact?
- What's the financial impact?
- What buildings are prone to wasting engergy?
- Is there a time of day more prone to wasting energy?
- Is there a season/time of year more prone to wasting energy?
- How easy/hard/costly is it to fix energy wasting?

Possible outline:  
- How much energy is being wasted and the impact
- What attributes most to wasting engergy (building, time of day, time of year)
- Recommendations to fix

## Import neccessary libraries

In [2]:
import pandas as pd

## Common functions

In [246]:
def get_dataframe_info(df, print_info=True):
    d = {}
    
    d['num_rows'] = df.shape[0]
    d['num_cols'] = df.shape[1]
    d['num_nans'] = df_metadata.isnull().sum(axis=0).sum()
    
    d['col_names'] = df.columns.tolist()
    d['col_dtypes'] = df.dtypes.tolist()
    d['col_nans'] = df_metadata.isnull().sum(axis=0).tolist()
    
    col_data_range = []
    col_data_range_count = []
    for col_name, col_dtype in zip(d['col_names'], d['col_dtypes']):
        if col_dtype in ['int64', 'float64', 'datetime64[ns]']:
            col_data_range.append([df[col_name].min(), df[col_name].max()])
            col_data_range_count.append([])
        else:
            #col_data_range.append(df[col_name].unique().tolist())
            col_data_range.append(df[col_name].value_counts().index.tolist())
            col_data_range_count.append(df[col_name].value_counts().tolist())
    d['col_data_range'] = col_data_range
    d['col_data_range_count'] = col_data_range_count
    
    col_number_unique_vals = []
    col_percent_unique_vals = []
    for col_name in d['col_names']:
        col_number_unique_vals.append(len(df[col_name].unique()))
        col_percent_unique_vals.append(round(((len(df[col_name].unique())/d['num_rows'])*100),2))
    d['col_number_unique_vals'] = col_number_unique_vals
    d['col_percent_unique_vals'] = col_percent_unique_vals
        
    return d

In [247]:
df_metadata['units'].value_counts().index.tolist()

['kWh', 'degree celsius', 'Wh', 'count']

In [248]:
df_metadata['units'].value_counts().tolist()

[113, 42, 21, 2]

In [249]:
get_dataframe_info(df_metadata)

{'num_rows': 187,
 'num_cols': 6,
 'num_nans': 175,
 'col_names': ['site_id',
  'meter_id',
  'meter_description',
  'units',
  'surface',
  'activity'],
 'col_dtypes': [dtype('O'),
  dtype('O'),
  dtype('O'),
  dtype('O'),
  dtype('float64'),
  dtype('O')],
 'col_nans': [0, 0, 0, 9, 166, 0],
 'col_data_range': [['038', '234_203', '334_61'],
  ['38_52472',
   '38_9729',
   '38_10108',
   '38_9797',
   '38_52478',
   '38_52333',
   '38_52476',
   '38_56728',
   '920',
   '38_9795',
   '38_9799',
   '38_0',
   '38_10117',
   '38_9685',
   '38_9681',
   '38_56727',
   '38_56737',
   '38_9714',
   '38_52475',
   '38_52327',
   '38_9695',
   '935',
   '38_9762',
   '38_10120',
   '38_9763',
   '38_52479',
   '38_9748',
   '38_52379',
   '38_9706',
   '38_9732',
   '38_10123',
   '38_56732',
   '38_2',
   '38_59804',
   '38_9731',
   '869',
   '38_9726',
   '911',
   '38_9687',
   '38_9733',
   '38_9688',
   '38_52473',
   '38_10114',
   '38_9760',
   '38_52467',
   '925',
   '38_56731',
   '38_9682',
   '38_9790',
   '38_9740',
   '234_203',
   '38_56734',
   '38_9730',
   '38_9791',
   '887',
   '38_52471',
   '38_10118',
   '38_10113',
   '38_9789',
   '38_9698',
   '38_9712',
   '38_10126',
   '38_56729',
   '38_9689',
   '881',
   '38_9719',
   '38_56031',
   '38_9759',
   '334_61',
   '875',
   '38_9787',
   '38_9788',
   '38_52474',
   '38_9764',
   '38_10106',
   '38_9704',
   '38_52306',
   '38_9757',
   '38_9679',
   '38_9761',
   '38_52469',
   '38_56743',
   '38_52325',
   '38_9699',
   '38_9755',
   '38_52332',
   '930',
   '38_52470',
   '38_9693',
   '38_10110',
   '38_10112',
   '38_9739',
   '38_9737',
   '38_56738',
   '38_10121',
   '38_9801',
   '38_9743',
   '38_9686',
   '38_9794',
   '38_10124',
   '38_10122',
   '38_9717',
   '884',
   '38_9751',
   '38_52322',
   '38_9749',
   '38_9683',
   '38_9747',
   '38_9711',
   '38_52468',
   '38_56736',
   '38_10125',
   '38_52323',
   '38_9796',
   '38_9793',
   '902',
   '38_59654',
   '38_52326',
   '928',
   '38_9697',
   '38_52480',
   '878',
   '38_9709',
   '38_9792',
   '38_56973',
   '38_9708',
   '38_9713',
   '38_10111',
   '38_9754',
   '38_9680',
   '38_10119',
   '38_56730',
   '38_56741',
   '38_56742',
   '38_9741',
   '872',
   '896',
   '38_9678',
   '38_10115',
   '38_10107',
   '38_56030',
   '38_9684',
   '38_9727',
   '38_56744',
   '38_9766',
   '38_52477',
   '38_9707',
   '38_9715',
   '38_9728',
   '38_56740',
   '38_56032',
   '38_52482',
   '38_9738',
   '38_9765',
   '38_9702',
   '38_9705',
   '38_52328',
   '38_56739',
   '38_56735',
   '38_10116',
   '938',
   '38_56034',
   '38_9756',
   '38_52324',
   '38_56033',
   '38_9716',
   '38_9718',
   '38_9742',
   '38_9710',
   '38_9753',
   '38_52375',
   '38_9798',
   '863',
   '38_9720',
   '38_1',
   '38_56733',
   '890',
   '38_52481',
   '38_9725',
   '38_9758',
   '38_10109',
   '38_9696',
   '2',
   '38_9694',
   '38_9752',
   '38_52329',
   '38_9703'],
  ['other',
   'temperature',
   'lighting',
   'heating',
   'main meter',
   'RTE meter',
   'outside temperature',
   'RTE meter: cos phi',
   'laboratory',
   'compressed air',
   'RTE meter: reactive',
   'total workers',
   'RTE meter: demand',
   'cold group',
   'cuisine',
   'main meter : demand',
   'generator',
   'guardhouse',
   'elevators',
   'Test Bay',
   'main meter: cos phi',
   'virtual meter',
   'main meter: reactive energy',
   'Lighting',
   'virtual main'],
  ['kWh', 'degree celsius', 'Wh', 'count'],
  [2000.0, 5750.0],
  ['office', 'laboratory', 'general', 'restaurant']],
 'col_data_range_count': [[166, 19, 2],
  [1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1],
  [92,
   39,
   11,
   11,
   4,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1],
  [113, 42, 21, 2],
  [],
  [108, 34, 32, 13]],
 'col_number_unique_vals': [3, 187, 25, 5, 3, 4],
 'col_percent_unique_vals': [1.6, 100.0, 13.37, 2.67, 1.6, 2.14]}

## Load the data

In [133]:
df_metadata = pd.read_csv('~/data/DSND-Project-1/power-laws-detecting-anomalies-in-usage-metadata.csv', sep=';')
df_holidays = pd.read_csv('~/data/DSND-Project-1/power-laws-detecting-anomalies-in-usage-holidays.csv', sep=';')
df_weather = pd.read_csv('~/data/DSND-Project-1/power-laws-detecting-anomalies-in-usage-weather.csv', sep=';')
df_energy = pd.read_csv('~/data/DSND-Project-1/train.csv', sep=',')

## Understand the data

### Metadata

In [77]:
df_metadata.head()

   site_id  meter_id meter_description units  surface    activity
0      038   38_9759             other   kWh      NaN      office
1      038   38_9729             other   kWh      NaN      office
2      038   38_9742             other   kWh      NaN      office
3  234_203       863        main meter    Wh   5750.0      office
4      038  38_56030           heating   kWh      NaN  laboratory

In [30]:
get_dataframe_info(df_metadata)

Number of rows: 187 Number of columns: 1
['site_id;meter_id;meter_description;units;surface;activity']

(187, 1)

### Holidays

In [89]:
df_holidays.head()

         Date                       Holiday site_id
0  2014-10-28                       Ohi Day  334_61
1  2010-05-24                   Whit Monday  334_61
2  2016-03-28                 Easter Monday     038
3  2012-08-15  Assumption of Mary to Heaven     038
4  2016-08-15  Assumption of Mary to Heaven  334_61

In [134]:
# convert date to datetime64
df_holidays['Date'] = pd.to_datetime(df_holidays['Date'])

In [143]:
get_dataframe_info(df_holidays)

Number of rows: 234
Number of columns: 3
Column names:, Date, Holiday, site_id
Total NaNs: 175
NaNs by column:, 0, 0, 0, 9, 166, 0
dtypes by column:, datetime64[ns], object, object
column data ranges:, [Timestamp('2010-01-01 00:00:00'), Timestamp('2018-12-26 00:00:00')], ['Labour Day', 'Easter Monday', 'New year', 'Whit Monday', 'Christmas Day', 'Assumption of Mary to Heaven', 'Armistice Day', 'Ascension Thursday', 'Bastille Day', 'All Saints Day', 'Glorifying Mother of God', 'Annunciation', 'Good Friday', 'Pentecost', 'Epiphany', 'Clean Monday', 'Easter Sunday', 'Ohi Day', 'Victory in Europe Day', 'Independence Day'], ['334_61', '038']

(234, 3, ['Date', 'Holiday', 'site_id'], 175, [0, 0, 0, 9, 166, 0])

### Weather

In [90]:
df_weather.head()

                   Timestamp  Temperature   Distance  site_id
0  2013-12-23T19:00:00-06:00         16.0  10.125819      NaN
1  2013-12-28T18:00:00-06:00         18.0  10.125819      NaN
2  2013-12-29T04:00:00-06:00         19.1   8.992769      NaN
3  2013-12-30T00:30:00-06:00         16.0  10.125819      NaN
4  2014-01-01T03:00:00-06:00         18.0  10.125819      NaN

In [129]:
get_dataframe_info(df_weather)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

(391610,
 4,
 ['Timestamp', 'Temperature', 'Distance', 'site_id'],
 175,
 [0, 0, 0, 9, 166, 0])

### Energy Usage

In [92]:
df_energy.head()

   Unnamed: 0 meter_id            Timestamp  Values
0        2532        2  2015-06-11 00:00:00  2035.0
1        2543        2  2015-06-11 00:15:00  2074.0
2        2544        2  2015-06-11 00:30:00  2062.0
3        2525        2  2015-06-11 00:45:00  2025.0
4        2534        2  2015-06-11 01:00:00  2034.0

In [128]:
get_dataframe_info(df_energy)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

(43668606,
 4,
 ['Unnamed: 0', 'meter_id', 'Timestamp', 'Values'],
 175,
 [0, 0, 0, 9, 166, 0])